

<div class="container">
  <div class="row">
    <div style="max-width: 380px;min-width: 380px ;">
       
        <app-project-card [projectName]="'Placement Analysis using ML'"></app-project-card>
    </div>


    <div style="max-width: 380px;min-width: 380px ;">
       
        <app-project-card [projectName]="'education for visually impaired'"></app-project-card>
    </div>


    <div style="max-width: 380px;min-width: 380px ;">
       
        <app-project-card [projectName]="'Sewage Gas monitoring using Iot'"></app-project-card>
    </div>
  </div>
</div>

