<div class="container">
<div class="row">
    <div class="col-lg shadow border m-1">
        <div class="text-center">
            <h2>About me</h2>
            <img src="../../assets/nithu.jpg" alt="profile" width="200" height="200" class="rounded-circle">
            <p style="text-align: justify;"> I am Nithya sri. I am Looking for a challenging position in an organization to
                utilize my technical skills for the growth of the
                organization as well as to enhance my knowledge
                about emerging trends in IT sector. I currently working as an intern at chainys,madurai in role of Angular Developer. I completed my UG in the stream of computer science engineering at Kamaraj college of Engineering and Technology. I have completed 4 projects during my Academic career. One of the project was "Placement Analysis using Machine learning"</p>
        </div>
    </div>
    <div class="col-lg shadow border m-1">
        <div class="text-center">
            <h2> Featured Projects</h2>
            <h4>{{featured.name}}</h4>
        </div>

    </div>
    </div>
</div>